{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="container d-flex justify-content-center text-center vh-100 pb-5">
    <div class="row align-self-center">
        <div class="col">
            <h1>Choose your Dining Hall</h1>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <div class="dropdown-center">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Select
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    {% for location in locations %}
                    <li><a class="dropdown-item" href="/{{ location }}">{{ location }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}